* {
  margin: 0;
  padding: 0;
}
:root {
  --index: calc(1vh + 1vw);
  --gradient-1: linear-gradient(90deg, rgb(29, 28, 28) 0%, rgba(77,71,59,1) 52%, rgba(47,42,37,1) 100%);
  --gradient-2: radial-gradient(circle, rgb(80, 78, 72) 0%, rgba(51,46,36,1) 74%);
  --gradient-3: radial-gradient(circle, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  --gradient-4: linear-gradient(90deg, rgba(131,58,180,1) 10%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.main-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--gradient-1);
}

.menu {
  background: var(--gradient-2);
  font-family: 'Roboto Mono', monospace;
  font-weight: 475;
  background-color: rgb(241, 208, 60);
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--index) * 1.7);
  padding: calc(var(--index) * 0.1);
  font-size: calc(var(--index) * 0.75);
}

.Logo {
  margin-left: calc(var(--index) * 1.25);
  font-size: calc(var(--index) * 1);
  font-weight: 900;
  background: var(--gradient-4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.nav {
  display: flex;
  justify-content: space-around;
  width: calc(var(--index) * 30);
  margin-right: calc(var(--index) * 1.25);
}

.nav-item {
  font-family: 'Roboto Mono', monospace;
  font-weight: 475;
  color: aliceblue;
  transition: scale .075s ease, font-weight .075s ease;
}

.nav-item:hover {
  cursor: pointer;
  scale: 1.09;
  font-weight: bold;
}

.burger-menu {
  position: absolute;
  right: calc(var(--index) * 1);
  top: calc(var(--index) * 1);
	display: none;
}

#burger-menu-btn {
	border: none;
	outline: none;
	background-color: transparent;
}


.burger-slide {
	position: relative;
  text-align: left;
	padding-top: 10px;
}

.block {
	display: block;
	padding-bottom: 6px;
	font-size: calc(var(--index) * 2);
}

.hidden {
	display: none;
}

.container {
  position: fixed;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.converter {
  font-family: 'Roboto Mono', monospace;
  display: block;
  margin: calc(var(--index) * 8) calc(var(--index) * 1);
}

.input {
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.34);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgba(41, 39, 39, 0.3);
  color: rgba(98 94 83 / 0.7);
  font-size: calc(var(--index) * 3);
  padding: calc(var(--index) * 2);
  width: calc(var(--index) * 25);
  outline:none;
  border: none;
}
.input:hover {
  filter: brightness(150%);
}

.in-use {
  color: aliceblue;
  font-size: calc(var(--index) * 3);
  padding: calc(var(--index) * 2);
}

#input-2 {
  pointer-events: none;
}

.select {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(41, 39, 39, 0.3);
  color: aliceblue;
  font-size: calc(var(--index) * 1);
  padding: calc(var(--index) * 2) calc(var(--index) * 1);
  border:none;
  outline: none;
  cursor: pointer;
  background-position: top 50%, 0 0;
}
.select:hover {
  filter: brightness(150%);
}

.to ,
.from {
  display: flex;
}

.from {
  margin-bottom: calc(var(--index) * 3);
}


.know-currency {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.34);
  background-color: rgba(41, 39, 39, 0.3);
  border-radius: 20px;
  color: aliceblue;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: calc(var(--index) * 3);
  width: calc(var(--index) * 30);
  height: calc(var(--index) * 10);
  margin: calc(var(--index) * 12) calc(var(--index) * 4);
  transition: scale .25s ease, filter .1s ease;
}
.know-currency:hover {
  scale: 1.05;
  background: var(--gradient-3);
}
.know-currency:active {
  filter: brightness(125%);
}



@media(max-width: 800px) {
  .know-currency {
    margin-left: calc(var(--index) * 1.25);
  }

  .converter {
    margin-left: calc(var(--index) * 1);
    margin-top: calc(var(--index) * 12);
  }

  .input {
    width: calc(var(--index) * 20);
    font-size: calc(var(--index) * 2.25);
  }

  .header-line {
		justify-content: space-between;
	}

  .menu {
    background: rgba(0 0 0 / 0);
    margin-top: calc(var(--index) * 1);
  }

  .Logo {
    font-size: calc(var(--index) * 2);
  }

  .nav {
    display: none;
  }

  .burger-menu {
    display: block;
  }

  .container {
    display: block;
  }

  .know-currency {
    margin-top: calc(var(--index) * 2);
  }
}